@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@font-face {
    font-family: 'The Binary Baron'; /* Nom de votre police */
    src: url('/Other/CfBaronRougeNormal-M9DB.ttf') format('truetype'); /* Format WOFF */
    /* Ajoutez d'autres formats de police si nécessaire */
    font-weight: normal; /* Poids de la police (normal, bold, etc.) */
    font-style: normal; /* Style de la police (normal, italic, oblique) */
}

/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*background*/
html{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #fff 0%, rgba(225, 5, 34, 0) 70%),
                linear-gradient(135deg, #fff 10%, rgba(49, 5, 209, 0) 80%),
                linear-gradient(225deg, rgb(98, 204, 253) 10%, rgba(10, 219, 216, 0) 80%),
                linear-gradient(315deg, #fff 100%, rgba(9, 245, 5, 0) 70%);
    background-attachment: fixed;
}

/*Menu part*/
menu{
    list-style-type: none;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    display: flex;
    margin: 10px;
 }

.itemList{
    display: flex;
    position: absolute ;
    right:30px;
}

a{
    text-decoration: none;
}

.MenuItem{
    padding: 1vw;
    color: black;
    font-size: max(1.3vw, 12px);
 }

 .MenuItem:hover{
    background-color: rgb(43, 69, 124);
    color: #fff;
    border-radius: min(20px, 1vw);
 }


/*containt panel*/
body{
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;  
    align-items: center;            
    flex-wrap: wrap;
    padding: 5vh 5vw;    
}

.presentation{  
    width: min(45vw, 50%);
    text-align: justify;
    height: auto;
    margin-top: 0; /* Removed large margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container img {
    max-width: 45%;
    max-height: 60vh; /* Limit image height */
    width: auto;
    height: auto;
    margin: 0;    
    padding: 0;
    object-fit: cover;
}

.dot {
    height: max(1vw,10px);
    width:  max(1vw,10px);
    background-color: rgb(43, 69, 124);
    border-radius: 50%;
    display: inline-block;
  }

.name{
    text-align:left;
    font-weight: bolder;
    font-size: max(3.5vw, 25px) ;
}

.hello{
    font-size: max(2.5vw, 20px);
    font-weight: bold;
}

.mainText{
    color: rgb(19, 19, 19);
    font-size: max(1.3vw,12px);
    padding-top: 10px;
 }  

 .social-links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.social-links a {
    display: inline-block;
    height: 30px;
}

.social-links img {
    width: 75px !important;
    height: 75px !important;
    display: block;
    object-fit: contain;
}