@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@font-face {
    font-family: 'The Binary Baron'; /* Nom de votre police */
    src: url('/Other/CfBaronRougeNormal-M9DB.ttf') format('truetype'); /* Format WOFF */
    /* Ajoutez d'autres formats de police si nécessaire */
    font-weight: normal; /* Poids de la police (normal, bold, etc.) */
    font-style: normal; /* Style de la police (normal, italic, oblique) */
}

/*background*/
html{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #fff 0%, rgba(225, 5, 34, 0) 70%),
                linear-gradient(135deg, #fff 10%, rgba(49, 5, 209, 0) 80%),
                linear-gradient(225deg, rgb(98, 204, 253) 10%, rgba(10, 219, 216, 0) 80%),
                linear-gradient(315deg, #fff 100%, rgba(9, 245, 5, 0) 70%);
    background-attachment: fixed;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the footer horizontally */
    width: 80%; /* Adjust the width as needed */
    text-align: center;
}

.bottomText{
    font-size: max(1.3vw,12px);
    text-align: justify;
    margin-bottom: 20px; 
    width: 75%;
}

.IconLinkedin{
    display: block;
    margin: 0 auto;
    width: 20%;
    padding-bottom: 20px;
  }